* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden; 
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  -webkit-transform: rotate(45deg) skew(-25deg, -25deg);
  -moz-transform: rotate(45deg) skew(-25deg, -25deg);
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 250px;
}

#rectangle {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 400px;
  max-width: 1360px;
  min-width: 200px;
  height: 240px;
  position: absolute;
  z-index: 3;
  display: none;
  background-color: rgba(102, 102, 108, 0.352);
  border: rgb(18, 25, 37) 3px solid;
  border-radius: 20px 20px 20px 20px;

}

.square {
  width: 70px;
  height: 72px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  background-image: url("/static/imgGame/Flour.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background-image: url("/static/imgGame/FlourHover.png");

}

#child:last-child {
  margin-right: 0;
}

.cover {
  width: 1300px;
  min-height: 96vh;
  overflow-x: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
 }

.cover::-webkit-scrollbar {
  display: none;
}

.scroll-images {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.child {
  z-index: 5;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: rgb(41, 44, 44);
  border: 10px plum;
  box-sizing: border-box;
  margin-right: 24px;
  background-image: url("/sh.pngstatic/imgGame/Mu");
  margin-top: 20px;
  pointer-events: none;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.Cave {
  position: absolute;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Dec {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100%;
  background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.Back {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100%;
  background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}