* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
 
  */

body {
  color: #fff;
  font-family: system-ui;
  /*overflow: hidden;
  */
}

#game-board {
  display: none;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  -webkit-transform: rotate(45deg) skew(-25deg, -25deg);
  -moz-transform: rotate(45deg) skew(-25deg, -25deg);
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 250px;
 
}

#rectangle {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5px;
  height: 200px;
  position: absolute;
  z-index: 3;
  display: none;
  background-color: rgba(198, 198, 215, 0.352);
  border: rgb(18, 25, 37) 3px solid;
  border-radius: 20px 20px 20px 20px;
}



.square {
  width: 70px;
  height: 72px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  background-image: url(../../static/imgGame/Flour.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background-image: url(../../static/imgGame/FlourHover.png);
}

#child:last-child {
  margin-right: 0;
}

.cover {
  width: 1300px;
  min-height: 96vh;
  overflow-x: scroll;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
 }

.cover::-webkit-scrollbar {
  display: none;
}

.scroll-images {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  transition: transform .3s;
}

.child {
  cursor: pointer;
  z-index: 5;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: rgb(178, 178, 193);
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 24px;
  margin-top: 20px;
  
}
.scroll-images:hover {
  transform: scale(1.01);
}

#WOW{
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100px;
  height: 100px;
  top: 500px;
  left: 1000px;
  background-size: cover;
  background-position: center;

}
.child img{
  
  object-fit:contain ;
  width: 100%;
  height: 100%; 
}


.Cave {
  position: absolute;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Dec {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100%;
  background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.Back {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100%;
  background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

#currency{
  z-index: 10;
  position: absolute;
  margin-top: 550px;
  margin-left: 35px;
  background-color: rgb(64, 66, 87);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 140px;
  height: 120px;
  cursor: pointer;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.2);
  transition: transform .3s;

  align-items: center;

}


.currency-icon {
  margin-right: 5px;
}

.currency-amount {
  background-color: #f1f1f153;
  padding: 5px;
  border-radius: 5px;
}

#nickname{
  z-index: 10;
  position: absolute;
  margin-top: 505px;
  margin-left: 35px;
  background-color: rgb(64, 66, 87);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.2);
  transition: transform .3s;
  font-weight: bold;
  text-align: center;
}


#build{
  z-index: 10;
  position: absolute;
  margin-top: 520px;
  margin-left: 1200px;
  background-color: rgb(255, 255, 255);
  border-radius: 60px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-image: url(../../static/imgGame/IconBuild.png);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.2);
  transition: transform .3s;
}

#build:hover {
  transform: scale(1.05);
}

#esc{
  z-index: 11;
  position: absolute;
  margin-top: 210px;
  margin-left: 1320px;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(../../static/imgGame/Esc.png);
  background-size: cover;
  background-position: center;
}



#menu {
  width: 70px;
  height: 70px;
  position: relative;
  top: 420px;
  left:70px;
  padding: 30px;
  background: no-repeat 50%/ 50% #e8e8f3;
  background-image: url(../../static/imgGame/UserIcon/Black.png);
  border-radius: 100%;
  cursor: pointer;
  z-index: 16;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.2);



  
  &::before {
    transform: rotate(0deg);
  }
  &::after {
    transform: rotate(-90deg);
  }
  &.open {
    opacity: .9;
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    .button {
      opacity: 1;
      pointer-events: auto;
      &:first-of-type {
        bottom: 40px;
        right: 70px;
        background: url("../../static/imgGame/UserIcon/Red.png") no-repeat 50%/50% #e8e8f3;
      }
      &:nth-of-type(2) {
        bottom: 80px;
        left:  5px;
        background: url("../../static/imgGame/UserIcon/DarkBlue.png") no-repeat 50%/ 50% #e8e8f3;
        transition-delay: .05s;
      }
      &:nth-of-type(3) {
        bottom: 40px;
        right: -70px;
        background: url("../../static/imgGame/UserIcon/Green.png") no-repeat 50% 45%/50% 45% #e8e8f3;
        transition-delay: .1s;
      }
      &:nth-of-type(4) {
        top: 40px;
        right: -70px;
        background: url("../../static/imgGame/UserIcon/Orange.png") no-repeat 50% 45%/50% 45% #e8e8f3;
        transition-delay: .2s;
      }
      &:nth-of-type(5) {
        top: 78px;
        left:  10px;
        background: url("../../static/imgGame/UserIcon/Black.png") no-repeat 50% 45%/50% 45% #e8e8f3;
        transition-delay: .3s;
      }
      &:last-of-type {
        top: 40px;
        right: 70px;
        background: url("../../static/imgGame/UserIcon/Violet.png") no-repeat 50% 45%/50% 45% #e8e8f3;
        transition-delay: .4s;
      }
    }
  }
}

.button {
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #e8e8f3;
  position: absolute;
  bottom: 0;
  z-index: 12;
  right: 0;
  opacity: 0;
  box-shadow: inherit;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(.08,.82,.17,1) transform;
  &:hover {
    transform: scale(1.1);
  }
}
