<!DOCTYPE html>
<html lang="en">

<head>
  <link type="image/png" sizes="120x120" rel="icon" href="{%static 'imgGame/OtherIcons/SiteIcon.png'%}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  <title>My beautiful cave</title>

  {% load static %}
  <link rel="stylesheet" href="{%static 'css/Game.css'%}">
  <script src="{%static 'js/Game.js'%}" defer></script>

</head>

<body>
  <div id="game-board"></div>

  <div id="rectangle">
    <div class="cover">
      <div class="scroll-images">

        <div class="child">
          <img class="shroom" src="{%static 'imgGame/Mushrooms/AgaricMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src=".{%static 'imgGame/Mushrooms/AmongMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src="{%static 'imgGame/Mushrooms/AgaricMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src="{% static 'imgGame/Mushrooms/TiredMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src="{% static 'imgGame/Mushrooms/SlimeMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/AndrewMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/TikhonMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/TrollMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/AmongMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/SleepyMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/PikaMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/CatMush.png'%}">
        </div>
        <div class="child">
          <img class="shroom" src= "{% static 'imgGame/Mushrooms/DuckMush.png'%}">       
        </div>


      </div>
    </div>
    <div id="esc"></div>
  </div>
  
  <div id="build"></div>

  <div id="currency">
    <div class="currency-icon">
      <img id = "WaterIc" src="{%static 'imgGame/OtherIcons/Water.png'%}" alt="Water Icon" />
      <img id = "SporeIc" src="{%static 'imgGame/OtherIcons/Spori.png'%}" alt="Spore Icon" />
    </div>
    <div class="currency-amount" id="water-amount">0</div>
    <div class="currency-amount" id="spore-amount">0</div>
  </div>
  <div id="nickname">Your nickname</div>


  <div id="menu" onclick="this.classList.toggle('open')">
    <div class="button" onclick="CH1()"></div>
    <div class="button" onclick="CH2()"></div>
    <div class="button" onclick="CH3()"></div>
    <div class="button" onclick="CH4()"></div>
    <div class="button" onclick="CH5()"></div>
    <div class="button" onclick="CH6()"></div>
  </div>
  
  <div class="Cave">
    <div class="Dec" style="background-image: url({%static 'imgGame/Decoration.png'%});"></div>
    <div class="Back" style="background-image: url({%static 'imgGame/Backgroumd.png'%});"></div>"
  </div>
  </div>
  
</body>

</html>